@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /*colors*/

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --dodgerBlue: hsl(210 100% 55.9%);
  --sandy-brown: hsl(29, 90%, 65%);
  --deepSkyBlue: hsla(195.06, 100%, 50%, 1);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  --facebook-cl: rgb(59, 89, 152);
  --linked_in-cl: rgb(23, 106, 255);
  --twitter-cl: rgb(85, 85, 85);
  --instagram-cl: linear-gradient(#8a3ab9, #e95950, #fccc63);

  /* typography */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /* border-radius */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.1);

  /*transition */

  --transition-timing: 0.2s ease;

}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::placeholder {
  font: inherit;
}

body {
  background: var(--white);
}

/**
   * scrollbar style
   */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

/*---------- Reset css styles ----------- */






/*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/

.container {
  padding: 0 15px;
}

.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px;
  /* for vertical scroll */
  height: 12px;
  /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%);
}

.title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 30px;
}
/* Search */

.search-wrap {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 121;
  transition: opacity 0.5s, visibility 0.5s;
}

.search-wrap.open {
  opacity: 1;
  visibility: visible;
}

.search-close {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.search-wrap .search-inner {
  position: relative;

  width: 100%;

  height: 100%;
}

.search-wrap .search-cell {
  position: absolute;

  top: 50%;

  width: 100%;

  transform: translateY(-50%);
}

.search-wrap .search-field-holder {
  width: 50%;

  margin: auto;

  position: relative;

  animation: slideInUp 0.3s;
}

.search-wrap .main-search-input {
  width: 100%;

  height: 70px;

  border: 0;

  padding: 0 20px;

  text-transform: uppercase;

  background: transparent;

  font-size: 5px;

  color: #fff;

  border-bottom: 2px solid #898989;

  text-align: center;

  letter-spacing: 1px;
}

.search-wrap input.form-control,
.search-wrap input.form-control:focus {
  background-color: #fff;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);

    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);

    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);
  }
}

input.main-search-input::-webkit-input-placeholder {
  color: #fff;

  font-size: 20px;
}

input.main-search-input:-moz-placeholder {
  color: #fff;

  opacity: 1;

  font-size: 25px;
}

input.main-search-input::-moz-placeholder {
  color: #fff;

  opacity: 1;

  font-size: 25px;
}

input.main-search-input:-ms-input-placeholder {
  color: #fff;

  font-size: 25px;
}

.search-close {
  position: absolute;

  top: 50px;

  right: 50px;

  font-size: 30px;

  color: #fff;

  cursor: pointer;
}


